.catalogo {
    padding-bottom: 24px;
}

#primeiro-catalogo {
    padding-top: 24px;
}

.catalogo__texto {
    font-family: 'amazon';
    font-size: 19px;
    color: rgb(242, 244, 246, .9);
    padding-left: 48px;
    padding-bottom: 8px;
}

.catalogo__carrocel {
    overflow: hidden;
    transition: linear 1s;
}

.catalogo__carrocel-lista {
    width: 2000px;
}

.catalogo div {
    position: relative;
}

.catalogo__carrocel-caixa {
    display: inline-block;
    padding-right: 8px;
    border-right: -1px;
    width: 22.62vw;
    height: 165.5px;
    transition: 70ms;
}

.catalogo__carrocel-filme {
    width: 100%;
    height: calc(22vw*(50/89));
    position: relative;
    z-index: 900;
}

.catalogo__carrocel-botaoDireito {
    position: absolute;
    margin-left: 15px;
    top: 0;
    right: 0;
    z-index: 900;
    background-image: url(../img/icons/setaDireita.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(15, 23, 30, .5);
    background-position: center;
    border: none;
    height: calc(23vw*(50/89));
    width: 30px;
    transition: opacity .25s ease, background-color .25s ease;
}

.catalogo__carrocel-botaoEsquerdo {
    position: absolute;
    margin-left: 15px;
    top: 0;
    left: 0;
    z-index: 900;
    background-image: url(../img/icons/setaEsquerda.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(15, 23, 30, .5);
    background-position: center;
    border: none;
    height: calc(23vw*(50/89));
    width: 30px;
    transition: .25;
    display: none;
}

.catalogo__carrocel-botaoEsquerdo--ativo {
    display: initial;
}

.catalogo__carrocel-filme:hover {
    transform: scale(1.05);
    z-index: 900;
}

.catalogo .catalogo__carrocel .catalogo__carrocel-caixa:first-child {
    padding-left: 50px;
}

.catalogo__carrocel-botaoDireito:hover,
.catalogo__carrocel-botaoEsquerdo:hover {
    background-color: rgba(15, 23, 30, .7);
}

@media screen and (max-width: 1200px) {
    .catalogo__carrocel-caixa {
        width: 30vw;
    }
    .catalogo__carrocel-filme {
        height: calc(30vw*(50/89));
    }
    .catalogo__carrocel-lista {
        width: 3000px;
        height: calc(30vw*(50/89));
        ;
    }
}

@media screen and (max-width: 840px) {
    .catalogo__carrocel-caixa {
        width: 43vw;
    }
    .catalogo__carrocel-filme {
        height: calc(43vw*(50/89));
    }
    .catalogo__carrocel-lista {
        width: 3000px;
        height: calc(43vw*(50/89));
    }
    .catalogo__carrocel-botaoEsquerdo,
    .catalogo__carrocel-botaoDireito {
        height: calc(43vw*(50/89));
    }
}

@media screen and (max-width: 500px) {
    .catalogo__carrocel-caixa {
        width: 70vw;
    }
    .catalogo__carrocel-filme {
        height: calc(70vw*(50/89));
    }
    .catalogo__carrocel-lista {
        width: 3000px;
        height: calc(70vw*(50/89));
    }
    .catalogo__carrocel-botaoEsquerdo,
    .catalogo__carrocel-botaoDireito {
        visibility: hidden;
    }
}